<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!--Carpeta-->
    <property name="LOGS" value="./logs" />
    <property name="SQL" value="./logs/sql" />
    <property name="controlador" value="./logs/controlador" />
	
	<!--Salida por consola-->
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

	<!--Salida por fichero-->

    
     <!--Para guardar en controlador-->
     <appender name="controlador"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${controlador}/controlador.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>
	
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${controlador}/archived/controlador-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    
    <!-- guardo info de mi aplicacion-->
    <root level="info">
        <appender-ref ref="Console" />
        
    </root>
 	
    
    <!--  Todas las trazas del controlador -->
    <logger name="com.miprimerejemplo.springboot.web.app.controller" level="trace" additivity="false">
    	<appender-ref ref="controlador" />
    </logger>
   

	

</configuration>